
.form-wrapper{
    align-content: flex-end;
    display: block;  
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center;
    display: table-cell; 
}

.submit-btn{
    color: #fff;
    background-color: chocolate;
    padding: 7px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 20px;
}

.login-form fieldset legend{
    font-size: 20pt;
}

html, body {
    height:100%;
}

.login-form> fieldset >input{
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
}

form {
    display: block;
    margin-top: 0em;
}

.login-form{
    display: grid;
    margin: auto;
    margin-bottom: 10px;
}
