.link:hover a {
	color: red;
	border-bottom: 3px solid red;
	transition: all 0.2s ease-out;
}

.img-pfp {
	width: 46px;
	height: 46px !important;
	border-radius: 9999px;
	justify-self: end;
	margin-right: .5rem;
}


#nav{
	top:0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: sticky;
	align-items: center;
	background-color: #383838;
	font-size: 1.2rem;
	height: 80px;
	justify-content: center;
}

.nav-right{
	justify-content: end;
	grid-template-columns: repeat(4, auto);

}

.nav-left{
	justify-content: start;
	grid-template-columns: repeat(4, auto);
}

.link {
	height: 100%;
}

.nav-list{
	list-style: none;
	margin: 0;
	display: grid;
    grid-gap: 10px;
    text-align: center;
    width: 60vw;
	padding: 0;
	height: 100%;
}

.link-item {
	display: flex;
	color: white;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem 1rem;
	height: 100%;
}



.nav-container{
	max-width: 1500px;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}