

:root{
    --table-green: #009879;
    --default-radius: 0,2rem;
    --default-background: #eee
}

.vue-notification{
    cursor: pointer;
    font-size: 20pt;
 }

 html,
body {
	height: 100%;
}

body{
    margin: 0;
    background: var(--default-background);
    font-family: "Convergence", sans-serif;
}