

:root{
    --table-green: #009879;
    --default-radius: 0,2rem;
    --default-background: #222222;
    --default-font-color: rgb(214, 214, 214);
    --font-dark:rgb(163, 163, 163);
    --mid-dark:#262626;
    --light-gray: #5a5a5a;
    --light-dark:rgb(70, 70, 70);
}

.vue-notification{
    cursor: pointer;
    font-size: 20pt;
 }

 html,
body {
    color: var(--default-font-color);
}

body{
    height: 100%;
    margin: 0;
    background: var(--default-background);
    font-family: 'PT Sans', sans-serif;
}

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

fieldset{
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}