body{
    margin: 0;
    background: #eee;
    font-family: "Convergence", sans-serif;
}

:root{
    --table-green: #009879;
    --default-radius: 0,2rem;
}

.vue-notification{
    cursor: pointer;
    font-size: 20pt;
 }