.info-list{
    list-style-type: none;
    padding: 0px;
}

.list-empty{
    font-weight: bold;
    color: crimson;
}

.list-empty-container{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.list-content{
    padding: 0 5px 0 5px;
}


.info-name{
    font-weight: bold;
    font-size: 20px;
}

.info-name::after{
    content: ": ";
}

.info-value{
    color: green;
}

