.color-display{
    margin: 5px;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.color-info{
    position: absolute;
    display: none;
}

.color-display:hover ~ span{
    display: block;
    color: red;

}

.info-fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
