.color-display {
	height: 20px;
	width: 20px;
	border: 1px solid black;
	cursor: pointer;
}

.info-fieldset {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.color-display {
	position: relative;
	display: inline-block;
}

.color-display .color-tooltip {
	visibility: hidden;
	width: 120px;
	background-color: var(--light-gray);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	width: 120px;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.color-display:hover .color-tooltip {
	visibility: visible;
}

.color-display .color-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--light-gray) transparent transparent transparent;
  }

.color-container{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}